.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

.component{
    min-width: 40rem;
    min-height: 20rem;
    border: black solid 1px;
    margin: 0.3rem;
    border-radius: 0.3rem;
    flex: 1;
    padding: 1rem;
}

.title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.select{
    font-size: 1rem;
    padding: 0.3rem;
    margin-left: 0.5rem ;
}

.button{
    font-size: 1rem;
}

.div{
    margin-bottom: 0.5rem;
}


.error{
    color: red;
    display: block;
}
