.bar{
    width: 10rem;
    height: 0.2rem;
    border:black thin solid;
}

.red{
    color: red;
}

.green{
   color: green;
}

.blue{
    color: blue;
}

.orange{
    color: orange;
}

.coral{
    color: coral;
}

.red1{
    color: #ff6d81;
}

.red2{
    color: mediumvioletred;
}

.currentTeam{
    background-color: coral;
    color: white;
}
